html
    head
        title=title
    body
        h1 hello world
        main
            div
                form(method = 'POST', action='/database/Search') 
                    input(name="searchbar" value='' type="text" placeholder="search" class="color_search")
                    button(name="search_button" class="search_button") Search                  